<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">
      <span class="site-title-main">Unfinished</span>
      <span class="site-title-sub">Cemetery</span>
    </a>
    <nav class="site-nav">
      <a class="page-link" href="{{ '/' | relative_url }}">All Projects</a>
      <a class="page-link" href="{{ '/visit' | relative_url }}">Random Visit</a>
      <a class="page-link" href="{{ '/about' | relative_url }}">About</a>
    </nav>
  </div>
</header>
